<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public//view/aboutUs.css" />
  </head>
  <body>
    <div class="container">
      <h1>About Us</h1>
      <p>
        Welcome to <span class="highlight">Mamito</span>, where connections are
        made through emotions. Mamito is more than just a matchmaking app – it's
        a platform where meaningful connections are formed based on your current
        mood.
      </p>
      <p>
        At Mamito, we believe that understanding and sharing emotions are key to
        building genuine connections. Our app allows users to match with others
        based on their current mood, providing a unique and personalized
        matchmaking experience.
      </p>
      <p>
        Using a series of questions tailored to your mood and age, Mamito helps
        you find like-minded individuals who resonate with your emotions.
        Whether you're feeling <span class="highlight">adventurous</span>,
        <span class="highlight">introspective</span>, or simply looking for a
        friendly chat, Mamito is here to help you discover meaningful
        connections.
      </p>
      <p>
        Join us on a journey of exploration and connection. Let Mamito be your
        companion in finding new friends, sharing experiences, and creating
        lasting memories based on the emotions you're feeling right now.
      </p>
    </div>
  </body>
</html>
