<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to Delete Your Mamito App Account</title>
    <link rel="stylesheet" href="/public/view/deleteAccount.css" />
  </head>
  <body>
    <div class="container">
      <h1>How to Delete Your Account</h1>
      <div class="step">
        <h2>Step 1: Go to the Settings Tab</h2>
        <img src="/public/view/images/step1.jpg" alt="Go to the Settings Tab" />
      </div>
      <div class="step">
        <h2>Step 2: Tap on Delete Account</h2>
        <img src="/public/view/images/step2.jpg" alt="Tap on Delete Account" />
      </div>
      <div class="step">
        <h2>Step 3: Enter Your Password in the Dialog that Appears</h2>
        <img src="/public/view/images/step3.jpg" alt="Enter Your Password" />
      </div>
      <div class="step">
        <h2>Step 4: Tap on Delete</h2>
        <img src="/public/view/images/step4.jpg" alt="Tap on Delete" />
      </div>
      <div class="conclusion">
        <p>
          You have successfully deleted your account. Please note that you will
          no longer be able to log in with this account, and all your data
          associated with it will be permanently removed. If you wish to use our
          services again, you will need to create a new account.
        </p>
      </div>
    </div>
  </body>
</html>
