<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy - Mamito</title>
    <link rel="stylesheet" href="/public//view/privacyPolicy.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Privacy Policy</h1>
        <p>Last updated on 6/1/2024</p>
      </header>

      <section class="intro">
        <p>
          Welcome to Mamito. This app is provided to you by a group of persons
          who are in the interest of providing a deeper connection between
          people.
        </p>
        <p>
          This privacy policy (“Privacy Policy”) describes the information
          collected by Mamito (“we,” “us,” or “our”), how that information may
          be used, with whom it may be shared, and your choices and disclosures.
          By using our mobile app and/or other services we provide (collectively
          “Mamito”), you agree to actions in this Privacy Policy.
        </p>
      </section>

      <section>
        <h2>Information We Collect Automatically</h2>
        <p>
          When you use Mamito, we automatically collect and store certain
          information as described in this privacy policy.
        </p>
        <ul>
          <li>
            Locations: With your permission, your device's GPS when you first
            register for Mamito.
          </li>
        </ul>
      </section>

      <section>
        <h2>Information You Choose to Provide to Us</h2>
        <p>
          When you register in the Mamito app, you must provide certain
          information including your username and password, phone number, email
          address, location, birthday, gender, educational status, and
          employment status. We will also ask you to upload photos for your
          profile and may collect any information contained in these files.
        </p>
        <p>
          You may provide additional information about yourself (such as things
          you want to change about yourself, description of yourself, about you
          finding the right path in your life, whether you want to meet your
          match in person, your hobby, things that are important to you that you
          value above others, etc.) in order to build your Mamito profile.
          Additionally, in order to get a match, you will be required to answer
          questions which are hard but also fun.
        </p>
        <p>
          By affirmatively providing Mamito with this information, you agree to
          our use of it for the purpose of fine-tuning your match criteria with
          other people.
        </p>
        <p>
          We may also require an email address when registering. We may use this
          email for both administrative (confirming of registration,
          notifications on matches) and promotional items we think are useful to
          you.
        </p>
      </section>

      <section>
        <h2>How We Use This Information</h2>
        <ul>
          <li>To get you a match with other Mamito users.</li>
          <li>To provide communications about Mamito-related issues.</li>
          <li>To improve Mamito to the very best.</li>
          <li>To ensure you are old enough to use the platform.</li>
        </ul>
      </section>

      <section>
        <h2>Sharing Your Information</h2>
        <p>The information we collect will not be shared with anyone.</p>
      </section>

      <section>
        <h2>Data Retention</h2>
        <p>
          Mamito might retain the personal information we received as described
          above for as long as you use the service and also up until it fulfills
          the purpose for which it was collected, which is to provide the best
          matchmaking platform.
        </p>
      </section>

      <section>
        <h2>Security</h2>
        <p>
          We take personal information seriously, but unfortunately, the
          internet cannot be guaranteed to be 100% secure.
        </p>
      </section>

      <section>
        <h2>Changes to This Privacy Policy</h2>
        <p>
          We may update this privacy policy from time to time as the service
          will expand and add additional features. We recommend you read the
          updated policy every time, and if there is anything you don’t approve
          of, stop using the service as soon as you read the updated privacy
          policy.
        </p>
      </section>

      <section>
        <h2>Indemnification</h2>
        <p>
          Neither Mamito nor any other party involved in creating, producing, or
          delivering the services will be liable for any damages, lost profits,
          loss of data, goodwill, service interruption, system failure, or any
          kind arising out of or in connection with this agreement.
        </p>
      </section>

      <section>
        <h2>Governing Law</h2>
        <p>
          This agreement shall be governed in accordance with the laws of the
          Federal Democratic Republic of Ethiopia.
        </p>
      </section>
    </div>
  </body>
</html>
