<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mamito Terms of Service</title>
    <link rel="stylesheet" href="/public/view/termAndConditions.css" />
  </head>
  <body>
    <div class="container">
      <h1>Terms of Service</h1>

      <p>
        These Terms of Service (this "Agreement") is between you and Mamito
        application ("we," "us," or "our"). By using our mobile application (our
        "App"), and/or other services we provide (collectively, the "Services")
        you agree to be bound by this Agreement. If you do not agree to be bound
        by this Agreement, you may not use the Services.
      </p>

      <h2>1. Introduction</h2>
      <p>
        By accessing or using mamito you agree to be bound by these terms,
        including our Privacy and so it is important that you read this
        agreement carefully before you create an account. We may update the
        terms from time to time, so you should check this page regularly for
        updates if you continue using our app you are agreeing with the updated
        term of service. And in case there is any dispute between you and us you
        agree to resolve by arbitration rather than in court.
      </p>

      <h2>2. Account Eligibility</h2>
      <p>By using our service, you warrant that:</p>
      <ul>
        <li>you are at least 18 years old</li>
        <li>you do not have any criminal records</li>
        <li>you do not have more than one account on our service</li>
        <li>You have not been previously removed from our service by us.</li>
      </ul>

      <h2>3. Responsibilities</h2>
      <ul>
        <li>
          Comply with the terms of service and that you check this page from
          time to time to know whether any changes have been made and if there
          are changes you do not agree with to no longer use the account you
          created
        </li>
        <li>Be respectful when communicating with any one in our service</li>
        <li>
          Not misrepresent /lie about your identity especially your age and name
        </li>
        <li>
          Not to post, upload or transmit to any user any content that is
          racist, false, threatening, inappropriate, misleading, and
          pornographic or anything that can be taken as a harm to another
          individual.
        </li>
        <li>
          Not to collect user content, personally identifiable information's or
          any other information's by any means or even access the service using
          automated means such as harvesting bots or anything related to it.
        </li>
        <li>
          Not to use meta tags or anything related to it or other hidden text or
          meta data using our signs or name
        </li>
        <li>Not to bully or harass any user.</li>
        <li>
          Not to advertise any product or service including multi-level
          marketing or pyramid schemes
        </li>
        <li>
          Not to attempt or interfere with the access of any user, host or
          network
        </li>
        <li>Not to mail-bombing the service</li>
        <li>Not to send a virus or anything that can be related to a virus.</li>
        <li>
          Not to reverse engineer the software used to provide the service
        </li>
        <li>
          Not to use our name mamito the sign of mamito the layout the design or
          anything in the service for personal use or commercial purposes.
        </li>
        <li>
          Not to make the functionality of the app available to multiple users
          through any means.
        </li>
        <li>Not to modify, create derivative works based on the app</li>
        <li>
          Be part of any program or do anything that could disable impair the
          proper working set of our service. Such as denial of service attack or
          anything related to it.
        </li>
        <li>
          Not to attempt to get the password information of any other user
        </li>
        <li>
          To accept that we have the right to disable some of our services
          without further notice.
        </li>
      </ul>

      <h2>4. Content Ownership</h2>
      <p>
        You are responsible for the answers you provide to the questions
        presented within the app, as well as for the accuracy of your personal
        details such as age, mood, and other filled documents. For that reason,
        you agree to indemnify and hold us harmless from any claims made in
        connection to your answers and personal information.
      </p>

      <h2>5. Risks</h2>
      <p>
        You must consider all the risks when using the app including but not
        limited to risks associated with offline and online interactions with
        other users of the app. You agree to take all mandatory, necessary,
        precautions when sharing personal information's or while communicating
        with others even meeting other users of the app in person. You are under
        no force to use the app in the first place and also to communicate with
        any user.
      </p>

      <h2>6. Indemnification</h2>
      <p>
        Neither mamito or any other party involved in creating, producing or
        delivering the services will be liable for any damages or lost profits,
        loss of data, good will, service interruption, system failure or any
        kind arising out of or in connection with this agreement.
      </p>

      <h2>7. Guarantee</h2>
      <p>
        You understand that we cannot guarantee the action of other users
        towards you in private conversation, frequency of match, number of
        matches, matches, compatibility of the person you match with.
      </p>

      <h2>8. Governing Law</h2>
      <p>
        This agreement shall be governed in accordance with the laws of the
        federal democratic republic of Ethiopia.
      </p>
    </div>
  </body>
</html>
